@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #d8eaff;
  color: white;
}

input::placeholder {
  font-family: 'Poppins', sans-serif;
  opacity: 0.5;
  font-weight: 600;
}

input {
  font-family: 'Poppins', sans-serif;
  opacity: 1;
}

input:focus {
  outline: none;
}

.borderatas {
  background-color: #C11D13;
  width: 100%;
  height: 70px;
  color: rgb(90, 43, 59);
  font-weight: bold;
}

.menu {
  float: right;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 12px;
}

.utama {
  height: 100%;
  background: url(image\ 16.png);
  background-size: cover;
  background-position: center;
}

.borderbawah {
  background-color: #C11D13;
  width: 100%;
  height: 70px;
  color: rgb(90, 43, 59);
  font-weight: bold;
}

.container-fluid {
  height: 100vh;
  display: flex;
  padding: 0;
  background-color: #C11D13;
}

.map-wrapper {
  flex: 2;
  height: 100%;
  padding: 50px; /* Adjust padding to create space for the border */
  background-color: #C11D13; /* Border color */
  box-sizing: border-box; /* Ensure padding is included in the width and height */
  position: relative;
}

#map {
  height: 100%;
  width: 100%;
}

.sidebar {
  flex: 1.5;
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  overflow-y: hidden;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  border: none;
  outline: none;
  flex-grow: 1;
  background: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  color: white;
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}


.home-button {
  background: #ffffff; /* Warna latar belakang tombol home */
  border: none;
  color: #C02016;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  position: fixed; /* Membuat tombol tetap di satu posisi */
  top: 12px; /* Jarak dari atas halaman */
  left: 56%; /* Jarak dari kanan halaman */
  z-index: 1000; /* Memastikan tombol berada di atas elemen lain */
}


.home-button i {
  font-size: 1em;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  color: #b30000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 10;
  text-decoration: none; /* Add this line to remove underline */
}

.upload-button {
  position: absolute;
  top: 115px;
  right: 60px;
  background-color: white;
  border: 2px solid #b2b2b2;
  border-radius: 4px;
  width: 47px;
  padding: 8px;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease; 
}

.download-button {
  position: absolute;
  top: 165px;
  right: 60px;
  background-color: white;
  border: 2px solid #b2b2b2;
  border-radius: 4px;
  width: 47px;
  padding: 8px;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease; 
}

.upload-button i, .download-button i {
  font-size: 24px;
  color: #d10000;
}

.upload-button input[type="file"] {
  display: none;
}

.upload-button:hover, .download-button:hover {
  background-color: #d4d4d4;
}

form {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #a9a9a9;
  border-radius: 2px;
  margin-bottom: 120px;

}

h2 {
  font-weight: 700;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}


.field-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  color: #333;
}

.field-group input, .field-group select {
  width: 100%;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}


.btn-submit {
  background-color: #C02016;
  color: #ffffff;
  border: none;   
  margin-top: 20px;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem; /* Increase font size */
  font-family: 'Poppins', sans-serif; /* Change font family */
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.button-wrapper {
  display: flex;
  justify-content: center; /* Center horizontally */
  margin-top: 20px; /* Adjust margin as needed */
}

.btn-submit:hover {
  background-color: #a01c14;
}


.leaflet-control-search input {
  color: #000000; /* Warna teks menjadi hitam */
}

/* Opsional: Anda bisa mengubah warna placeholder juga jika ingin */
.leaflet-control-search input::placeholder {
  color: #000000; /* Warna placeholder juga menjadi hitam */
  opacity: 0.7; /* Transparansi teks placeholder */
}

.popup-content .popup-item {
  margin-bottom: 10px; /* Menambahkan spasi antar baris */
}

.btn-delete-marker {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  background-color: red;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.btn-delete-marker i {
  margin: 0;
}

.radio-group {
  display: flex;
  align-items: center;
  margin-bottom: 5px; /* Add margin between radio group and button */
}

.radio-group label {
  font-size: 0.9rem; /* Smaller text size */
  margin-right: 50%; /* Add margin between label and button */
}

.radio-group input[type="radio"] {
  margin-right: 20px; /* Add margin between radio button and label */
}
.goals-plan-button {
  font-family: 'Poppins', sans-serif; 
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #a01c14; /* Warna latar belakang tombol */
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  font-weight: 600;
  z-index: 1000;
}

.goals-plan-button:hover {
  background-color: #6a130e;
}

.goals-plan {
  display: none;
}

.goals-plan-container {
  background-color: #ffffff;
  padding: 15px;
  overflow-y: auto; /* Enable vertical scroll */
  border: 1px solid #a9a9a9;
  border-radius: 2px;
  max-height: 500px; /* Set a max height to enable scrolling */
  margin-bottom: 60px;
  
}

.goals-plan-item {
  display: flex;
  align-items: center;
  color: #000000;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  font-size: 0.8rem;
}

.search-container {
  margin-bottom: 15px;
}

.search-container input {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.goals-plan-item .marker-icon {
  color: #ff0000;
  margin-right: 20px;
  cursor: pointer;
  font-size: 35px; /* Ukuran font yang lebih besar untuk memperbesar ikon */
}


.goals-plan-item .info {
  flex: 1;
}

.goals-plan-item .actions {
  display: flex;
  align-items: center;
}

.goals-plan-item .actions button {
  background: none;
  border: solid 1px #000000;
  padding: 10px;
  color: #000000;
  cursor: pointer;
  margin-left: 10px;
}


.goals-plan-item .actions button.active {
  background-color: red; /* Warna merah saat aktif */
  color: #fff;
}
.goals-plan-item .actions button:hover {
  text-decoration: underline;
}
/* General Button Styles */
.btn-secondary {
  font-family: 'Poppins', sans-serif; 
  width: 50%;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

/* Specific Styles for 'Back to Form' Button */
.btn-secondary {
  background-color: #a01c14; /* Gray color for secondary button */
  color: #fff; /* White text color */
}

.btn-secondary:hover {
  background-color: #75130e; /* Slightly darker gray on hover */
}

.btn-secondary:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(108, 117, 125, 0.5); /* Focus shadow effect */
}

.btn-secondary:active {
  background-color: #545b62; /* Even darker gray when clicked */
}

/* Optional: Add spacing for the button */
.btn-secondary {
  margin-top: 10px;
}

.btn-check.active {
  background-color: red;
  color: #fff;
}

.btn-check {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000;
  cursor: pointer;
  margin-right: 5px;
}

#goals-plan {
  display: none;
}

.info {
  display: grid;
margin-top: 10px;
  grid-template-columns: auto 1fr; /* Adjust columns */
  gap: 5px; /* Space between columns */
}

.info div {
  display: contents; /* Allows children to use grid layout */
}

.info div strong {
  text-align: left; /* Align text to the right */
  margin-right: 10px; /* Space between label and value */
}